<?xml version="1.0"?>
<!--
  ~ Copyright © 2017 SalesIgniter. All rights reserved.
  ~ See https://rentalbookingsoftware.com/license.html for license details.
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="warehouses" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Warehouses</label>
            <tab>salesigniter</tab>
            <resource>Magento_Catalog::config_catalog</resource>

            <group id="general" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Warehouses Settings</label>
                <field id="status" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>

        </section>

    </system>
</config>
