<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SalesIgniter_Rental::rental" title="Rental">
                    <resource id="SalesIgniter_Rental::general" title="General">
                        <resource id="SalesIgniter_Rental::manualedit" title="Manually Reserve Inventory"/>
                        <resource id="SalesIgniter_Rental::fixeddates" title="Predetermined Dates"/>
                        <resource id="SalesIgniter_Rental::settings" title="Settings"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
